#
# OpenAPI generator
#
**/docs
**/.openapi-generator-ignore
**/git_push.sh
**/.gitignore

#
# C#
#
**/*.sln
**/AssemblyInfo.cs
**/project.json
**/.vs
**/obj
**/bin
**/*.nuget.cache
**/*.nuget.props

#
# Java
#
**/.travis.yml
**/.idea
**/target
**/.gradle
**/build