#
# OpenAPI generator
#
**/.openapi-generator-ignore
**/git_push.sh
**/.gitignore
**/.travis.yml

#
# C#
#
**/*.sln
**/AssemblyInfo.cs
**/project.json
**/.vs
**/obj
**/bin
**/*.nuget.cache
**/*.nuget.props

#
# Java
#
**/.idea
**/target
**/.gradle
**/build

#
# PHP
#
**/vendor
**/*.iml
**/out.trace
**/.phpunit.result.cache