=begin
#MDES for Merchants

#The MDES APIs are designed as RPC style stateless web services where each API endpoint represents an operation to be performed.  All request and response payloads are sent in the JSON (JavaScript Object Notation) data-interchange format. Each endpoint in the API specifies the HTTP Method used to access it. All strings in request and response objects are to be UTF-8 encoded.  Each API URI includes the major and minor version of API that it conforms to.  This will allow multiple concurrent versions of the API to be deployed simultaneously.  

OpenAPI spec version: 1.2.7

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module SwaggerClient
  class GetTaskStatusApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Used to check the status of any asynchronous task that was previously requested.
    # Used to check the status of any asynchronous task that was previously requested. 
    # @param [Hash] opts the optional parameters
    # @option opts [GetTaskStatusRequestSchema] :get_task_status_request_schema Contains the details of the request message. 
    # @return [GetTaskStatusResponseSchema]
    def get_task_status(opts = {})
      data, _status_code, _headers = get_task_status_with_http_info(opts)
      data
    end

    # Used to check the status of any asynchronous task that was previously requested.
    # Used to check the status of any asynchronous task that was previously requested. 
    # @param [Hash] opts the optional parameters
    # @option opts [GetTaskStatusRequestSchema] :get_task_status_request_schema Contains the details of the request message. 
    # @return [Array<(GetTaskStatusResponseSchema, Fixnum, Hash)>] GetTaskStatusResponseSchema data, response status code and response headers
    def get_task_status_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GetTaskStatusApi.get_task_status ...'
      end
      # resource path
      local_var_path = '/digitization/static/1/0/getTaskStatus'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'get_task_status_request_schema'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GetTaskStatusResponseSchema')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GetTaskStatusApi#get_task_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
