openapi: 3.0.0
info:
  description: |
    These APIs are designed as RPC style stateless web services where each API endpoint represents an operation to be performed.  All request and response payloads are sent in the JSON (JavaScript Object Notation) data-interchange format. Each endpoint in the API specifies the HTTP Method used to access it. All strings in request and response objects are to be UTF-8 encoded.  Each API URI includes the major and minor version of API that it conforms to.  This will allow multiple concurrent versions of the API to be deployed simultaneously.
    <br><br>
    **Authentication**
    <br><br>
    Mastercard uses OAuth 1.0a with body hash extension for authenticating the API clients. This requires every request that you send to  Mastercard to be signed with an RSA private key. A private-public RSA key pair must be generated consisting of:
    <br><br>
    1. A private key for the OAuth signature for API requests. It is recommended to keep the private key in a password-protected or hardware keystore.
    <br>
    2. A public key is shared with Mastercard during the project setup process through either a certificate signing request (CSR) or the API Key Generator. Mastercard will use the public key to verify the OAuth signature that is provided on every API call.<br>

    An OAUTH1.0a signer library is available on [GitHub](https://github.com/Mastercard/oauth1-signer-java)
    <br><br>
    **Encryption**
    <br><br>
    All communications between Issuer web service and the Mastercard gateway is encrypted using TLS.
    <br><br>
    **Additional Encryption of Sensitive Data**
    <br><br>
    In addition to the OAuth authentication, when using MDES Digital Enablement Service, any PCI sensitive and all account holder Personally Identifiable Information (PII) data must be encrypted. This requirement applies to the API fields containing encryptedData. Sensitive data is encrypted using a symmetric session (one-time-use) key. The symmetric session key is then wrapped with an RSA Public Key supplied by Mastercard during API setup phase (the Customer Encryption Key). <br>

    Java Client Encryption Library available on [GitHub](https://github.com/Mastercard/client-encryption-java)
  title: MDES Digital Enablement API
  version: 1.3.0
servers:
- url: https://api.mastercard.com/mdes
paths:
  /digitization/static/1/0/tokenize:
    post:
      description: |
        Used to digitize a card to create a server-based Token. MDES will perform both card availability and eligibility checks to check that this specific card is eligible for digitization. As both availability and eligibility are combined, only a Tokenization Authorization message is sent to the issuer as part of this request to authorize the digitization. No Tokenization Eligibility message is sent. The digitization decision will be one of Approved or Declined.
      operationId: createTokenize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenizeRequestSchema'
        description: |
          A Tokenize request is used to digitize a PAN.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenizeResponseSchema'
          description: |
            Contains the details of the token response message when a push account receipt is supplied in the tokenize request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayErrorsResponse'
          description: |
            Example gateway error response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: |
            Example application error response
      tags:
      - Tokenize
      x-testable: true
      x-contentType: application/json
      x-accepts: application/json
  /digitization/static/1/0/notifyTokenUpdated:
    post:
      description: |
        This API is used by MDES to notify the Token Requestor of significant Token updates. Typical notification scenarios include

        1. Informing the merchant a token is active
        2. Informing the merchant a token has been suspended by the Issuer
        3. Informing the merchant a token has been unsuspended by the Issuer
        4. Informing the merchant a token has been deleted by the Issuer
        5. Informing the merchant of a product configuration change (such as a change in Card Art)
        6. Informing the merchant of underlying changes to the FPAN metadata associated to the token

        **Connection Security**

        Mastercard will connect via TLS protocol and verify the server certificate before establishing a connection to the client endpoint. During this handshake, the client server can request TLS client authentication. Mastercard will present a client certificate which identifies as ?ws.mastercard.com? This client certificate is issued by the Entrust L1K certificate and should be available in most trust stores.


        **Conditional Objects**

        The contents of the notifyTokenUpdated API will vary depending which of the above scneraios triggered the notification.

        1. *productConfig* - Provided when Product Configuration has changed (e.g. such as card art).
        2. *tokenInfo* - Provided when either the details of the token or associated FPAN have changed (such as token or PAN expiry).

         The optional objects will always contain a minimum set of data which be returned regardless of whether or not updates have been made. These fields are denoted as required fields.
      operationId: notifyTokenUpdate (for token state change)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyTokenUpdatedRequestSchema'
        description: |
          Contains the details of the request message.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyTokenUpdatedResponseSchema'
          description: |
            Contains the details of the response message.
      summary: Outbound API used by MDES to notify the Token Requestor of significant
        Token updates, such as when the Token is activated, suspended, unsuspended
        or deleted; or when information about the Token or its product configuration
        has changed.
      tags:
      - notifyTokenUpdated
      x-testable: false
      x-contentType: application/json
      x-accepts: application/json
  /remotetransaction/static/1/0/transact:
    post:
      description: |
        This API is used by the Token Requestor to create a Digital Secure Remote Payment ("DSRP") transaction cryptogram using the credentials stored within MDES in order to perform a DSRP transaction through a payment processor.  The entire response is encrypted. The caller may only transact using the Tokens belonging to them.
      operationId: createTransact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactRequestSchema'
        description: |
          Contains the details of the request message.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactResponseSchema'
          description: |
            Contains the details of the response message.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayErrorsResponse'
          description: |
            Example gateway error response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactError'
          description: |
            Example application error response
      summary: Used by the Token Requestor to create a Digital Secure Remote Payment
        ("DSRP") transaction cryptogram using the credentials stored within MDES in
        order to perform a DSRP transaction.
      tags:
      - Transact
      x-testable: false
      x-contentType: application/json
      x-accepts: application/json
  /assets/static/1/0/asset/{AssetId}:
    get:
      description: |
        This API is used to retrieve static Assets from MDES?s repository, such as - Card art, MasterCard brand logos, Issuers? logos, and Terms and Conditions. Every Asset in the repository is referenced using an Asset ID. Once an Asset has been assigned to an Asset ID, the contents of the Asset will not change. If contents do need to change (for example, Issuer has supplied new artwork for a product), they will be updated in the repository and be assigned a new Asset ID.  Different types of Assets are supported in the repository, such as images and text files; and for each type of Asset, multiple formats may be supported. For example, a single image Asset may be supported in various file formats; or variant sizes, allowing the Token Requestor to select the most appropriate format to use for a particular target device.
      operationId: getAsset
      parameters:
      - description: |
          An Asset ID corresponds to an individual Digital Asset. Digital Assets are returned as part of the Product Configuration from the Tokenize Response. The Asset ID itself is supplied as a Get request in the form of https://{INSERT ENVIRONMENT URL HERE}/mdes/assets/static/1/0/asset/{AssetID} - See JSON examples for details.
        explode: false
        in: path
        name: AssetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponseSchema'
          description: |
            Contains the details of the response message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: |
            unexpected error
      summary: Used to retrieve static Assets from the MDES repository.
      tags:
      - Get Asset
      x-testable: false
      x-accepts: application/json
  /digitization/static/1/0/suspend:
    post:
      description: |
        This API is used to temporarily suspend one or more Tokens (for example, suspending all Tokens on a device in response to the device being lost).  The API is limited to 10 Tokens per request. MDES will coordinate the suspension of the Tokens and notify any relevant parties that the Tokens have been suspended. A suspended Token can be unsuspended using the Unsuspend resource.
      operationId: createSuspend
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuspendRequestSchema'
        description: |
          Contains the details of the request message.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuspendResponseSchema'
          description: |
            Contains the details of the response message.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayErrorsResponse'
          description: |
            Example gateway error response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: |
            Example application error response
      summary: Used to temporarily suspend one or more Tokens.
      tags:
      - Suspend
      x-testable: false
      x-contentType: application/json
      x-accepts: application/json
  /digitization/static/1/0/unsuspend:
    post:
      description: |
        This API is used to unsuspend one or more previously suspended Tokens. The API is limited to 10 Tokens per request. MDES will coordinate the unsuspension of the Tokens and notify any relevant parties that the Tokens have now been unsuspended.
      operationId: createUnsuspend
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnSuspendRequestSchema'
        description: |
          Contains the details of the request message.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnSuspendResponseSchema'
          description: |
            Contains the details of the response message.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayErrorsResponse'
          description: |
            Example gateway error response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: |
            Example application error response
      summary: Used to unsuspend one or more previously suspended Tokens. The API
        is limited to 10 Tokens per request.
      tags:
      - Unsuspend
      x-testable: false
      x-contentType: application/json
      x-accepts: application/json
  /digitization/static/1/0/delete:
    post:
      description: |
        This API is used to delete one or more Tokens.  The API is limited to 10 Tokens per request. MDES will coordinate the deactivation of the Tokens and notify any relevant parties that the Tokens have now been deactivated.
      operationId: deleteDigitization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequestSchema'
        description: |
          Contains the details of the request message.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponseSchema'
          description: |
            Contains the details of the response message.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayErrorsResponse'
          description: |
            Example gateway error response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: |
            Example application error response
      summary: Used to delete one or more Tokens. The API is limited to 10 Tokens
        per request.
      tags:
      - Delete
      x-testable: false
      x-contentType: application/json
      x-accepts: application/json
  /digitization/static/1/0/getTaskStatus:
    post:
      description: |
        Used to check the status of any asynchronous task that was previously requested.
      operationId: getTaskStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTaskStatusRequestSchema'
        description: |
          Contains the details of the request message.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTaskStatusResponseSchema'
          description: |
            Contains the details of the response message.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayErrorsResponse'
          description: |
            Example gateway error response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: |
            Example application error response
      summary: Used to check the status of any asynchronous task that was previously
        requested.
      tags:
      - Get Task Status
      x-testable: false
      x-contentType: application/json
      x-accepts: application/json
  /digitization/static/1/0/searchTokens:
    post:
      description: |
        This API is used to get basic token information for all tokens on a specified device, or all tokens mapped to the given Account PAN. It may be used to check current Token(s) state or, in exception scenarios (such as network time out), to ensure that external systems remain in sync with the Token state as maintained by MDES. Deactivated tokens are not returned.
      operationId: SearchTokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchTokensRequestSchema'
        description: |
          Contains the details of the request message.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchTokensResponseSchema'
          description: |
            Contains the details of the response message.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayErrorsResponse'
          description: |
            Example gateway error response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: |
            Example application error response
      summary: Used to get basic token information for all tokens on a specified device,
        or all tokens mapped to the given Account PAN.
      tags:
      - Search Tokens
      x-testable: false
      x-contentType: application/json
      x-accepts: application/json
  /digitization/static/1/0/getToken:
    post:
      description: |
        This API is used to get the status and details of a single given Token. It may be used to check current Token state or in exception scenarios (such as network time out) to ensure that external systems remain in sync with the Token state as maintained by MDES. Optionally, if requested, the token number can also be provided in the response (in encrypted form).
      operationId: getToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTokenRequestSchema'
        description: |
          Contains the details of the request message.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTokenResponseSchema'
          description: |
            Contains the details of the response message.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayErrorsResponse'
          description: |
            Example gateway error response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: |
            Example application error response
      summary: Used to get the status and details of a single given Token.
      tags:
      - Get Token
      x-testable: false
      x-contentType: application/json
      x-accepts: application/json
components:
  schemas:
    TokenizeRequestSchema:
      example:
        requestId: "123456"
        fundingAccountInfo:
          encryptedPayload:
            publicKeyFingerprint: 4c4ead5927f0df8117f178eea9308daa58e27c2b
            encryptedKey: A1B2C3D4E5F6112233445566
            encryptedData:
              cardAccountData:
                expiryMonth: "09"
                securityCode: "123"
                expiryYear: "21"
                accountNumber: "5123456789012345"
              accountHolderData:
                accountHolderAddress:
                  country: USA
                  city: St. Louis
                  postalCode: "61000"
                  line2: Apt. 4B
                  line1: 100 1st Street
                  countrySubdivision: MO
                consumerIdentifier: consumerIdentifier
                accountHolderMobilePhoneNumber:
                  phoneNumber: 0.8008281904610115
                  countryDialInCode: 44
                accountHolderEmailAddress: accountHolderEmailAddress
                accountHolderName: accountHolderName
              source: ACCOUNT_ON_FILE
            oaepHashingAlgorithm: SHA512
            iv: NA
          panUniqueReference: panUniqueReference
          tokenUniqueReference: tokenUniqueReference
        decisioningData:
          deviceCurrentLocation: 38.63,-90.25
          deviceScore: "1"
          recommendationAlgorithmVersion: "01"
          mobileNumberSuffix: "3456"
          accountIdHash: accountIdHash
          accountScore: "1"
          recommendation: APPROVED
          deviceIpAddress: 127.0.0.1
          recommendationReasons:
          - LONG_ACCOUNT_TENURE
          - LONG_ACCOUNT_TENURE
        responseHost: site1.your-server.com
        consumerLanguage: en
        tokenType: CLOUD
        tokenRequestorId: "98765432101"
        taskId: "123456"
        tokenizationAuthenticationValue: RHVtbXkgYmFzZSA2NCBkYXRhIC0gdGhpcyBpcyBub3QgYSByZWFsIFRBViBleGFtcGxl
      properties:
        responseHost:
          description: |
            "The host that originated the request. Future calls in the same conversation may be routed to this host. Must be provided as: host[:port][/contextRoot] Where port and contextRoot are optional. If contextRoot is not provided, the default (per the URL Scheme) is assumed and must be used."
          example: site1.your-server.com
          type: string
        requestId:
          description: |
            Unique identifier for the request.
          example: "123456"
          type: string
        tokenType:
          description: |
            The type of Token requested. Must be CLOUD
          example: CLOUD
          maxLength: 32
          type: string
        tokenRequestorId:
          description: |
            11-digit numeric ID provided by Mastercard that identifies the Token Requestor.
          example: "98765432101"
          maxLength: 11
          type: string
        taskId:
          description: |
            Identifier for this task as assigned by the Token Requestor, unique across a given Token Requestor Identifier. May be used in the Get Task Status API to query the status of this task.
          example: "123456"
          maxLength: 64
          type: string
        fundingAccountInfo:
          $ref: '#/components/schemas/fundingAccountInfo'
        consumerLanguage:
          description: |
            Language preference selected by the consumer. Formatted as an ISO- 639-1 two-letter language code.
          example: en
          maxLength: 2
          type: string
        tokenizationAuthenticationValue:
          description: |
            The Tokenization Authentication Value (TAV) as cryptographically signed by the Issuer to authorize this digitization request.
          example: RHVtbXkgYmFzZSA2NCBkYXRhIC0gdGhpcyBpcyBub3QgYSByZWFsIFRBViBleGFtcGxl
          maxLength: 2048
          type: string
        decisioningData:
          $ref: '#/components/schemas/DecisioningData'
      required:
      - fundingAccountInfo
      - taskId
      - tokenRequestorId
      - tokenType
    TokenizeResponseSchema:
      example:
        decision: APPROVED
        authenticationMethods:
        - id: "334123523456213450000"
          type: TEXT_TO_CARDHOLDER_NUMBER
          value: "1"
        - id: "334123523456213450000"
          type: TEXT_TO_CARDHOLDER_NUMBER
          value: "1"
        panUniqueReference: FWSPMC000000000159f71f703d2141efaf04dd26803f922b
        responseHost: site2.payment-app-provider.com
        productConfig:
          longDescription: Bank Rewards MasterCard with the super duper rewards program
          issuerProductConfigCode: "123456"
          termsAndConditionsUrl: https://bank.com/termsAndConditions
          issuerMobileApp: '{}'
          issuerName: Issuing Bank
          cardBackgroundCombinedAssetId: 739d27e5-629d-11e3-949a-0800200c9a66
          iconAssetId: 739d87e5-629d-11e3-949a-0800200c9a66
          foregroundColor: "0"
          issuerLogoAssetId: dbc55444-986a-4896-b41c-5d5e2dd431e2
          shortDescription: Bank Rewards MasterCard
          coBrandName: Co brand partner
          onlineBankingLoginUrl: bank.com
          privacyPolicyUrl: https://bank.com/privacy
          customerServiceEmail: customerservice@bank.com
          customerServicePhoneNumber: "1234567891"
          isCoBranded: true
          brandLogoAssetId: 800200c9-629d-11e3-949a-0739d27e5a66
          customerServiceUrl: https://bank.com/customerservice
          coBrandLogoAssetId: dbc55444-496a-4896-b41c-5d5e2dd431e2
          cardBackgroundAssetId: 456d27e5-629d-11e3-949a-0800200c9a66
        tokenDetail:
          publicKeyFingerprint: 4c4ead5927f0df8117f178eea9308daa58e27c2b
          encryptedKey: A1B2C3D4E5F6112233445566
          encryptedData:
            paymentAccountReference: 5001a9f027e5629d11e3949a0800a
          oaepHashingAlgorithm: SHA512
          tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          iv: NA
        tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
        tokenInfo:
          accountPanExpiry: "921"
          accountPanSuffix: "0011"
          tokenPanSuffix: "0001"
          tokenExpiry: "921"
          tokenAssuranceLevel: 3
          dsrpCapable: "true"
          productCategory: CREDIT
        responseId: "123456"
      properties:
        responseHost:
          description: |
            The MasterCard host that originated the request. Future calls in the same conversation may be routed to this host.
          example: site2.payment-app-provider.com
          type: string
        responseId:
          description: |
            Unique identifier for the response.
          example: "123456"
          type: string
        decision:
          description: |
            The tokenization decision for this digitization request. Must be either APPROVED (Digitization request was approved), DECLINED (Digitization request was declined) OR REQUIRE_ADDITIONAL_AUTHENTICATION Digitization request was approved but optionally requires additional authentication. One or more Authentication methods may be provided).
          example: APPROVED
          type: string
        authenticationMethods:
          items:
            $ref: '#/components/schemas/authenticationMethods'
          type: array
        tokenUniqueReference:
          description: |
            The unique reference allocated to the new Token. Serves as a unique identifier for all subsequent queries or management functions relating to this Token. Provided if the decision was APPROVED or REQUIRE_ADDITIONAL_AUTHENTICATION.
          example: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          maxLength: 64
          type: string
        panUniqueReference:
          description: |
            The unique reference allocated to the Account Primary Account Number. Provided if the decision was APPROVED or REQUIRE_ADDITIONAL_AUTHENTICATION.
          example: FWSPMC000000000159f71f703d2141efaf04dd26803f922b
          maxLength: 64
          type: string
        productConfig:
          $ref: '#/components/schemas/productConfig'
        tokenInfo:
          $ref: '#/components/schemas/tokenInfo'
        tokenDetail:
          $ref: '#/components/schemas/tokenDetail'
    AssetResponseSchema:
      example:
        mediaContents:
        - data: iVBORw0KGgoAAAANSUhEUgAAAXcAAAF3CAIAAADRopypAAAABGdBTUEAANbY1E9YMgAAAAlwSFlzAAAASAAAAEgARslrPgAAGtNJREFUeNrt3W9oW
          width: "375"
          type: image/png
          height: "375"
        - data: iVBORw0KGgoAAAANSUhEUgAAAXcAAAF3CAIAAADRopypAAAABGdBTUEAANbY1E9YMgAAAAlwSFlzAAAASAAAAEgARslrPgAAGtNJREFUeNrt3W9oW
          width: "375"
          type: image/png
          height: "375"
      properties:
        mediaContents:
          items:
            $ref: '#/components/schemas/mediaContent'
          type: array
    mediaContent:
      example:
        data: iVBORw0KGgoAAAANSUhEUgAAAXcAAAF3CAIAAADRopypAAAABGdBTUEAANbY1E9YMgAAAAlwSFlzAAAASAAAAEgARslrPgAAGtNJREFUeNrt3W9oW
        width: "375"
        type: image/png
        height: "375"
      properties:
        type:
          description: |
            What type of media this is. Specified as a MIME type, which will be one of the following supported types

            * applicatoin/pdf (for images must be a vector PDF image)
            * image/png (includes alpha channel)
            * text/plain
            * text/html
          example: image/png
          maxLength: 32
          type: string
        data:
          description: |
            The data for this item of media. Base64-encoded data, given in the format as specified in ?type?.
          example: iVBORw0KGgoAAAANSUhEUgAAAXcAAAF3CAIAAADRopypAAAABGdBTUEAANbY1E9YMgAAAAlwSFlzAAAASAAAAEgARslrPgAAGtNJREFUeNrt3W9oW
          type: string
        height:
          description: |
            For image assets, the height of this image. Specified in pixels.
          example: "375"
          maxLength: 6
          type: string
        width:
          description: |
            For image assets, the width of this image. Specified in pixels.
          example: "375"
          maxLength: 6
          type: string
      required:
      - data
      - type
    SuspendRequestSchema:
      example:
        reason: Lost/stolen device
        paymentAppInstanceId: "123456789"
        requestId: "123456"
        tokenUniqueReferences: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
        causedBy: CARDHOLDER
        responseHost: site2.payment-app-provider.com
        reasonCode: SUSPECTED_FRAUD
      properties:
        responseHost:
          description: |
            The host that originated the request. Future calls in the same conversation may be routed to this host.
          example: site2.payment-app-provider.com
          type: string
        requestId:
          description: |
            Unique identifier for the request.
          example: "123456"
          type: string
        paymentAppInstanceId:
          description: |
            Identifier for the specific Mobile Payment App instance, unique across a given Wallet Identifier. This value cannot be changed after digitization. This field is alphanumeric and additionally web-safe base64 characters per RFC 4648 (minus "-", underscore "_") up to a maximum length of 48, = should not be URL encoded. Conditional - not applicable for server based tokens but required otherwise.
          example: "123456789"
          maxLength: 48
          type: string
        tokenUniqueReferences:
          description: |
            The specific Token to be suspended. Array of more or more valid references as assigned by MDES
          example: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          items:
            type: string
          type: array
        causedBy:
          description: |
            Who or what caused the Token to be suspended. Must be either the 'CARDHOLDER' (operation requested by the Cardholder) or 'TOKEN_REQUESTOR' (operation requested by the token requestor).
          example: CARDHOLDER
          maxLength: 64
          type: string
        reason:
          description: |
            Free form reason why the Tokens are being suspended.
          example: Lost/stolen device
          maxLength: 256
          type: string
        reasonCode:
          description: |
            The reason for the action to be suspended. Must be one of 'SUSPECTED_FRAUD' (suspected fraudulent token transactions), 'OTHER' (Other - default used if value not provided).
          example: SUSPECTED_FRAUD
          maxLength: 64
          type: string
      required:
      - causedBy
      - reasonCode
      - requestId
      - tokenUniqueReferences
    SuspendResponseSchema:
      example:
        responseHost: site1.mastercard.com
        tokens:
        - statusTimestamp: statusTimestamp
          suspendedBy:
          - CARDHOLDER
          - CARDHOLDER
          tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          status: SUSPENDED
        - statusTimestamp: statusTimestamp
          suspendedBy:
          - CARDHOLDER
          - CARDHOLDER
          tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          status: SUSPENDED
        responseId: "123456"
      properties:
        responseHost:
          description: |
            The host that originated the request. Future calls in the same conversation may be routed to this host.
          example: site1.mastercard.com
          type: string
        responseId:
          description: |
            Unique identifier for the response.
          example: "123456"
          type: string
        tokens:
          items:
            $ref: '#/components/schemas/token_for_LCM'
          type: array
    DeleteRequestSchema:
      example:
        reason: Lost/stolen device
        paymentAppInstanceId: "123456789"
        requestId: "123456"
        tokenUniqueReferences: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
        causedBy: CARDHOLDER
        responseHost: site2.payment-app-provider.com
        reasonCode: SUSPECTED_FRAUD
      properties:
        responseHost:
          description: |
            The host that originated the request. Future calls in the same conversation may be routed to this host.
          example: site2.payment-app-provider.com
          type: string
        requestId:
          description: |
            Unique identifier for the request.
          example: "123456"
          type: string
        paymentAppInstanceId:
          description: |
            Identifier for the specific Mobile Payment App instance, unique across a given Wallet Identifier. This value cannot be changed after digitization. This field is alphanumeric and additionally web-safe base64 characters per RFC 4648 (minus "-", underscore "_") up to a maximum length of 48, = should not be URL encoded. Conditional - not applicable for server based tokens but required otherwise.
          example: "123456789"
          maxLength: 48
          type: string
        tokenUniqueReferences:
          description: |
            The specific Token to be deleted. Array of more or more valid references as assigned by MDES
          example: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          items:
            type: string
          type: array
        causedBy:
          description: |
            Who or what caused the Token to be deleted. Must be either the 'CARDHOLDER' (operation requested by the Cardholder) or 'TOKEN_REQUESTOR' (operation requested by the token requestor).
          example: CARDHOLDER
          maxLength: 64
          type: string
        reason:
          description: |
            Free form reason why the Tokens are being suspended.
          example: Lost/stolen device
          maxLength: 256
          type: string
        reasonCode:
          description: |
            The reason for the action to be deleted. Must be one of 'SUSPECTED_FRAUD' (suspected fraudulent token transactions), 'OTHER' (Other - default used if value not provided).
          example: SUSPECTED_FRAUD
          maxLength: 64
          type: string
      required:
      - causedBy
      - reasonCode
      - requestId
      - tokenUniqueReferences
    DeleteResponseSchema:
      example:
        responseHost: site1.mastercard.com
        tokens:
        - statusTimestamp: statusTimestamp
          suspendedBy:
          - CARDHOLDER
          - CARDHOLDER
          tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          status: SUSPENDED
        - statusTimestamp: statusTimestamp
          suspendedBy:
          - CARDHOLDER
          - CARDHOLDER
          tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          status: SUSPENDED
        responseId: "123456"
      properties:
        responseHost:
          description: |
            The host that originated the request. Future calls in the same conversation may be routed to this host.
          example: site1.mastercard.com
          type: string
        responseId:
          description: |
            Unique identifier for the response.
          example: "123456"
          type: string
        tokens:
          items:
            $ref: '#/components/schemas/token_for_LCM'
          type: array
    UnSuspendRequestSchema:
      example:
        reason: Lost/stolen device
        paymentAppInstanceId: "123456789"
        requestId: "123456"
        tokenUniqueReferences: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
        causedBy: CARDHOLDER
        responseHost: site2.payment-app-provider.com
        reasonCode: SUSPECTED_FRAUD
      properties:
        responseHost:
          description: |
            The host that originated the request. Future calls in the same conversation may be routed to this host.
          example: site2.payment-app-provider.com
          type: string
        requestId:
          description: |
            Unique identifier for the request.
          example: "123456"
          type: string
        paymentAppInstanceId:
          description: |
            Identifier for the specific Mobile Payment App instance, unique across a given Wallet Identifier. This value cannot be changed after digitization. This field is alphanumeric and additionally web-safe base64 characters per RFC 4648 (minus "-", underscore "_") up to a maximum length of 48, = should not be URL encoded. Conditional - not applicable for server based tokens but required otherwise.
          example: "123456789"
          maxLength: 48
          type: string
        tokenUniqueReferences:
          description: |
            The specific Token to be unsuspended. Array of more or more valid references as assigned by MDES
          example: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          items:
            type: string
          type: array
        causedBy:
          description: |
            Who or what caused the Token to be unsuspended. Must be either the 'CARDHOLDER' (operation requested by the Cardholder) or 'TOKEN_REQUESTOR' (operation requested by the token requestor).
          example: CARDHOLDER
          maxLength: 64
          type: string
        reason:
          description: |
            Free form reason why the Tokens are being suspended.
          example: Lost/stolen device
          maxLength: 256
          type: string
        reasonCode:
          description: |
            The reason for the action to be unsuspended. Must be one of 'SUSPECTED_FRAUD' (suspected fraudulent token transactions), 'OTHER' (Other - default used if value not provided).
          example: SUSPECTED_FRAUD
          maxLength: 64
          type: string
      required:
      - causedBy
      - reasonCode
      - requestId
      - tokenUniqueReferences
    UnSuspendResponseSchema:
      example:
        responseHost: site1.mastercard.com
        tokens:
        - statusTimestamp: statusTimestamp
          suspendedBy:
          - CARDHOLDER
          - CARDHOLDER
          tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          status: SUSPENDED
        - statusTimestamp: statusTimestamp
          suspendedBy:
          - CARDHOLDER
          - CARDHOLDER
          tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          status: SUSPENDED
        responseId: "123456"
      properties:
        responseHost:
          description: |
            The host that originated the request. Future calls in the same conversation may be routed to this host.
          example: site1.mastercard.com
          type: string
        responseId:
          description: |
            Unique identifier for the response.
          example: "123456"
          type: string
        tokens:
          items:
            $ref: '#/components/schemas/token_for_LCM'
          type: array
    GetTaskStatusRequestSchema:
      example:
        requestId: "123456"
        responseHost: site2.payment-app-provider.com
        tokenRequestorId: "98765432101"
        taskId: "123456"
      properties:
        responseHost:
          description: |
            The host that originated the request. Future calls in the same conversation may be routed to this host.
          example: site2.payment-app-provider.com
          type: string
        requestId:
          description: |
            Unique identifier for the request.
          example: "123456"
          type: string
        tokenRequestorId:
          description: |
            11-digit numeric ID provided by Mastercard that identifies the Token Requestor.
          example: "98765432101"
          maxLength: 11
          minLength: 11
          type: string
        taskId:
          description: |
            Unique identifier for this task. Must be an identifier previously used when requesting a task.
          example: "123456"
          maxLength: 64
          type: string
      required:
      - requestId
      - taskId
      - tokenRequestorId
    GetTaskStatusResponseSchema:
      example:
        responseHost: site2.payment-app-provider.com
        responseId: "123456"
        status: FAILED
      properties:
        responseId:
          description: |
            Unique identifier for the response.
          example: "123456"
          type: string
        responseHost:
          description: |
            The host that originated the request. Future calls in the same conversation may be routed to this host.
          example: site2.payment-app-provider.com
          type: string
        status:
          description: |
            The status of the specified task. Must be either 'PENDING' (The Task has been recieved and is pending processing), 'IN_PROGRESS' (The task is currently in progress), 'COMPLETED' (The task was completed successfully) or 'FAILED' The task was processed but failed to complete successfully.
          example: FAILED
          maxLength: 64
          type: string
    SearchTokensRequestSchema:
      example:
        requestId: "123456"
        fundingAccountInfo:
          encryptedPayload:
            publicKeyFingerprint: 4c4ead5927f0df8117f178eea9308daa58e27c2b
            encryptedKey: A1B2C3D4E5F6112233445566
            encryptedData:
              cardAccountData:
                expiryMonth: "09"
                securityCode: "123"
                expiryYear: "21"
                accountNumber: "5123456789012345"
              accountHolderData:
                accountHolderAddress:
                  country: USA
                  city: St. Louis
                  postalCode: "61000"
                  line2: Apt. 4B
                  line1: 100 1st Street
                  countrySubdivision: MO
                consumerIdentifier: consumerIdentifier
                accountHolderMobilePhoneNumber:
                  phoneNumber: 0.8008281904610115
                  countryDialInCode: 44
                accountHolderEmailAddress: accountHolderEmailAddress
                accountHolderName: accountHolderName
              source: ACCOUNT_ON_FILE
            oaepHashingAlgorithm: SHA512
            iv: NA
          panUniqueReference: panUniqueReference
          tokenUniqueReference: tokenUniqueReference
        responseHost: site2.payment-app-provider.com
        tokenRequestorId: "98765432101"
      properties:
        requestId:
          description: |
            Unique identifier for the request.
          example: "123456"
          type: string
        responseHost:
          description: |
            The host that originated the request. Future calls in the same conversation may be routed to this host.
          example: site2.payment-app-provider.com
          type: string
        fundingAccountInfo:
          $ref: '#/components/schemas/fundingAccountInfo'
        tokenRequestorId:
          description: |
            Identifies the Token Requestor. Only tokens associated with the token requestor will be returned. Length - 11.
          example: "98765432101"
          type: string
      required:
      - requestId
    SearchTokensResponseSchema:
      example:
        responseHost: site1.mastercard.com
        tokens:
        - statusTimestamp: statusTimestamp
          suspendedBy:
          - CARDHOLDER
          - CARDHOLDER
          productConfig:
            longDescription: Bank Rewards MasterCard with the super duper rewards
              program
            issuerProductConfigCode: "123456"
            termsAndConditionsUrl: https://bank.com/termsAndConditions
            issuerMobileApp: '{}'
            issuerName: Issuing Bank
            cardBackgroundCombinedAssetId: 739d27e5-629d-11e3-949a-0800200c9a66
            iconAssetId: 739d87e5-629d-11e3-949a-0800200c9a66
            foregroundColor: "0"
            issuerLogoAssetId: dbc55444-986a-4896-b41c-5d5e2dd431e2
            shortDescription: Bank Rewards MasterCard
            coBrandName: Co brand partner
            onlineBankingLoginUrl: bank.com
            privacyPolicyUrl: https://bank.com/privacy
            customerServiceEmail: customerservice@bank.com
            customerServicePhoneNumber: "1234567891"
            isCoBranded: true
            brandLogoAssetId: 800200c9-629d-11e3-949a-0739d27e5a66
            customerServiceUrl: https://bank.com/customerservice
            coBrandLogoAssetId: dbc55444-496a-4896-b41c-5d5e2dd431e2
            cardBackgroundAssetId: 456d27e5-629d-11e3-949a-0800200c9a66
          tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          tokenInfo:
            accountPanExpiry: "921"
            accountPanSuffix: "0011"
            tokenPanSuffix: "0001"
            tokenExpiry: "921"
            tokenAssuranceLevel: 3
            dsrpCapable: "true"
            productCategory: CREDIT
          status: SUSPENDED
        - statusTimestamp: statusTimestamp
          suspendedBy:
          - CARDHOLDER
          - CARDHOLDER
          productConfig:
            longDescription: Bank Rewards MasterCard with the super duper rewards
              program
            issuerProductConfigCode: "123456"
            termsAndConditionsUrl: https://bank.com/termsAndConditions
            issuerMobileApp: '{}'
            issuerName: Issuing Bank
            cardBackgroundCombinedAssetId: 739d27e5-629d-11e3-949a-0800200c9a66
            iconAssetId: 739d87e5-629d-11e3-949a-0800200c9a66
            foregroundColor: "0"
            issuerLogoAssetId: dbc55444-986a-4896-b41c-5d5e2dd431e2
            shortDescription: Bank Rewards MasterCard
            coBrandName: Co brand partner
            onlineBankingLoginUrl: bank.com
            privacyPolicyUrl: https://bank.com/privacy
            customerServiceEmail: customerservice@bank.com
            customerServicePhoneNumber: "1234567891"
            isCoBranded: true
            brandLogoAssetId: 800200c9-629d-11e3-949a-0739d27e5a66
            customerServiceUrl: https://bank.com/customerservice
            coBrandLogoAssetId: dbc55444-496a-4896-b41c-5d5e2dd431e2
            cardBackgroundAssetId: 456d27e5-629d-11e3-949a-0800200c9a66
          tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          tokenInfo:
            accountPanExpiry: "921"
            accountPanSuffix: "0011"
            tokenPanSuffix: "0001"
            tokenExpiry: "921"
            tokenAssuranceLevel: 3
            dsrpCapable: "true"
            productCategory: CREDIT
          status: SUSPENDED
        responseId: "123456"
      properties:
        responseHost:
          description: |
            The host that originated the request. Future calls in the same conversation may be routed to this host.
          example: site1.mastercard.com
          type: string
        responseId:
          description: |
            Unique identifier for the response.
          example: "123456"
          type: string
        tokens:
          items:
            $ref: '#/components/schemas/token'
          type: array
    GetTokenRequestSchema:
      example:
        paymentAppInstanceId: "123456789"
        requestId: "123456"
        responseHost: site2.payment-app-provider.com
        includeTokenDetail: "true"
        tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
      properties:
        responseHost:
          description: |
            The host that originated the request. Future calls in the same conversation may be routed to this host.
          example: site2.payment-app-provider.com
          type: string
        requestId:
          description: |
            Unique identifier for the request.
          example: "123456"
          type: string
        paymentAppInstanceId:
          description: |
            Identifier for the specific Mobile Payment App instance, unique across a given Wallet Identifier. This value cannot be changed after digitization. This field is alphanumeric and additionally web-safe base64 characters per RFC 4648 (minus "-", underscore "_") up to a maximum length of 48, = should not be URL encoded. Conditional - not applicable for server-based tokens but required otherwise.
          example: "123456789"
          maxLength: 48
          type: string
        tokenUniqueReference:
          description: |
            The specific Token to be queried.
          example: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          maxLength: 64
          type: string
        includeTokenDetail:
          description: |
            Flag to indicate if the encrypted token should be returned.
          example: "true"
          maxLength: 5
          type: string
      required:
      - requestId
      - tokenUniqueReference
    GetTokenResponseSchema:
      example:
        tokenDetail:
          publicKeyFingerprint: 4c4ead5927f0df8117f178eea9308daa58e27c2b
          encryptedKey: A1B2C3D4E5F6112233445566
          encryptedData:
            paymentAccountReference: 5001a9f027e5629d11e3949a0800a
            cardAccountData:
              expiryMonth: "09"
              expiryYear: "21"
              accountNumber: "5123456789012345"
            tokenNumber: tokenNumber
            accountHolderData:
              accountHolderAddress:
                country: USA
                city: St. Louis
                postalCode: "61000"
                line2: Apt. 4B
                line1: 100 1st Street
                countrySubdivision: MO
              accountHolderMobilePhoneNumber:
                phoneNumber: 0.8008281904610115
                countryDialInCode: 44
              accountHolderEmailAddress: accountHolderEmailAddress
              accountHolderName: accountHolderName
            expiryMonth: expiryMonth
            expiryYear: expiryYear
          oaepHashingAlgorithm: SHA512
          tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          iv: NA
        responseId: "123456"
        token:
          statusTimestamp: statusTimestamp
          suspendedBy:
          - CARDHOLDER
          - CARDHOLDER
          productConfig:
            longDescription: Bank Rewards MasterCard with the super duper rewards
              program
            issuerProductConfigCode: "123456"
            termsAndConditionsUrl: https://bank.com/termsAndConditions
            issuerMobileApp: '{}'
            issuerName: Issuing Bank
            cardBackgroundCombinedAssetId: 739d27e5-629d-11e3-949a-0800200c9a66
            iconAssetId: 739d87e5-629d-11e3-949a-0800200c9a66
            foregroundColor: "0"
            issuerLogoAssetId: dbc55444-986a-4896-b41c-5d5e2dd431e2
            shortDescription: Bank Rewards MasterCard
            coBrandName: Co brand partner
            onlineBankingLoginUrl: bank.com
            privacyPolicyUrl: https://bank.com/privacy
            customerServiceEmail: customerservice@bank.com
            customerServicePhoneNumber: "1234567891"
            isCoBranded: true
            brandLogoAssetId: 800200c9-629d-11e3-949a-0739d27e5a66
            customerServiceUrl: https://bank.com/customerservice
            coBrandLogoAssetId: dbc55444-496a-4896-b41c-5d5e2dd431e2
            cardBackgroundAssetId: 456d27e5-629d-11e3-949a-0800200c9a66
          tokenRequestorId: "98765432101"
          tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          tokenInfo:
            accountPanExpiry: "921"
            accountPanSuffix: "0011"
            tokenPanSuffix: "0001"
            tokenExpiry: "921"
            tokenAssuranceLevel: 3
            accountPanPrefix: "500000"
            dsrpCapable: "true"
            productCategory: CREDIT
          status: SUSPENDED
      properties:
        responseId:
          description: |
            Unique identifier for the response.
          example: "123456"
          type: string
        token:
          $ref: '#/components/schemas/token_for_getToken'
        tokenDetail:
          $ref: '#/components/schemas/tokenDetail_getToken_Only'
    NotifyTokenUpdatedRequestSchema:
      example:
        encryptedPayload:
          publicKeyFingerprint: 4c4ead5927f0df8117f178eea9308daa58e27c2b
          encryptedKey: A1B2C3D4E5F6112233445566
          encryptedData:
            tokens:
            - statusTimestamp: statusTimestamp
              eventReasonCode: SUSPECTED_FRAUD
              suspendedBy:
              - CARDHOLDER
              - CARDHOLDER
              productConfig:
                longDescription: Bank Rewards MasterCard with the super duper rewards
                  program
                issuerProductConfigCode: "123456"
                termsAndConditionsUrl: https://bank.com/termsAndConditions
                issuerMobileApp: '{}'
                issuerName: Issuing Bank
                cardBackgroundCombinedAssetId: 739d27e5-629d-11e3-949a-0800200c9a66
                iconAssetId: 739d87e5-629d-11e3-949a-0800200c9a66
                foregroundColor: "0"
                issuerLogoAssetId: dbc55444-986a-4896-b41c-5d5e2dd431e2
                shortDescription: Bank Rewards MasterCard
                coBrandName: Co brand partner
                onlineBankingLoginUrl: bank.com
                privacyPolicyUrl: https://bank.com/privacy
                customerServiceEmail: customerservice@bank.com
                customerServicePhoneNumber: "1234567891"
                isCoBranded: true
                brandLogoAssetId: 800200c9-629d-11e3-949a-0739d27e5a66
                customerServiceUrl: https://bank.com/customerservice
                coBrandLogoAssetId: dbc55444-496a-4896-b41c-5d5e2dd431e2
                cardBackgroundAssetId: 456d27e5-629d-11e3-949a-0800200c9a66
              tokenRequestorId: "98765432101"
              tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
              tokenInfo:
                accountPanExpiry: "921"
                accountPanSuffix: "0011"
                tokenPanSuffix: "0001"
                tokenExpiry: "921"
                tokenAssuranceLevel: 3
                accountPanPrefix: "500000"
                dsrpCapable: "true"
                productCategory: CREDIT
              status: SUSPENDED
            - statusTimestamp: statusTimestamp
              eventReasonCode: SUSPECTED_FRAUD
              suspendedBy:
              - CARDHOLDER
              - CARDHOLDER
              productConfig:
                longDescription: Bank Rewards MasterCard with the super duper rewards
                  program
                issuerProductConfigCode: "123456"
                termsAndConditionsUrl: https://bank.com/termsAndConditions
                issuerMobileApp: '{}'
                issuerName: Issuing Bank
                cardBackgroundCombinedAssetId: 739d27e5-629d-11e3-949a-0800200c9a66
                iconAssetId: 739d87e5-629d-11e3-949a-0800200c9a66
                foregroundColor: "0"
                issuerLogoAssetId: dbc55444-986a-4896-b41c-5d5e2dd431e2
                shortDescription: Bank Rewards MasterCard
                coBrandName: Co brand partner
                onlineBankingLoginUrl: bank.com
                privacyPolicyUrl: https://bank.com/privacy
                customerServiceEmail: customerservice@bank.com
                customerServicePhoneNumber: "1234567891"
                isCoBranded: true
                brandLogoAssetId: 800200c9-629d-11e3-949a-0739d27e5a66
                customerServiceUrl: https://bank.com/customerservice
                coBrandLogoAssetId: dbc55444-496a-4896-b41c-5d5e2dd431e2
                cardBackgroundAssetId: 456d27e5-629d-11e3-949a-0800200c9a66
              tokenRequestorId: "98765432101"
              tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
              tokenInfo:
                accountPanExpiry: "921"
                accountPanSuffix: "0011"
                tokenPanSuffix: "0001"
                tokenExpiry: "921"
                tokenAssuranceLevel: 3
                accountPanPrefix: "500000"
                dsrpCapable: "true"
                productCategory: CREDIT
              status: SUSPENDED
          oaepHashingAlgorithm: SHA512
          iv: NA
        requestId: "123456"
        responseHost: site2.payment-app-provider.com
      properties:
        responseHost:
          description: |
            The host that originated the request. Future calls in the same conversation should be routed to this host.
          example: site2.payment-app-provider.com
          type: string
        requestId:
          description: |
            Unique identifier for the request.
          example: "123456"
          type: string
        encryptedPayload:
          $ref: '#/components/schemas/encryptedPayload'
      required:
      - encryptedPayload
      - requestId
      - responseHost
    encryptedPayload:
      example:
        publicKeyFingerprint: 4c4ead5927f0df8117f178eea9308daa58e27c2b
        encryptedKey: A1B2C3D4E5F6112233445566
        encryptedData:
          tokens:
          - statusTimestamp: statusTimestamp
            eventReasonCode: SUSPECTED_FRAUD
            suspendedBy:
            - CARDHOLDER
            - CARDHOLDER
            productConfig:
              longDescription: Bank Rewards MasterCard with the super duper rewards
                program
              issuerProductConfigCode: "123456"
              termsAndConditionsUrl: https://bank.com/termsAndConditions
              issuerMobileApp: '{}'
              issuerName: Issuing Bank
              cardBackgroundCombinedAssetId: 739d27e5-629d-11e3-949a-0800200c9a66
              iconAssetId: 739d87e5-629d-11e3-949a-0800200c9a66
              foregroundColor: "0"
              issuerLogoAssetId: dbc55444-986a-4896-b41c-5d5e2dd431e2
              shortDescription: Bank Rewards MasterCard
              coBrandName: Co brand partner
              onlineBankingLoginUrl: bank.com
              privacyPolicyUrl: https://bank.com/privacy
              customerServiceEmail: customerservice@bank.com
              customerServicePhoneNumber: "1234567891"
              isCoBranded: true
              brandLogoAssetId: 800200c9-629d-11e3-949a-0739d27e5a66
              customerServiceUrl: https://bank.com/customerservice
              coBrandLogoAssetId: dbc55444-496a-4896-b41c-5d5e2dd431e2
              cardBackgroundAssetId: 456d27e5-629d-11e3-949a-0800200c9a66
            tokenRequestorId: "98765432101"
            tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
            tokenInfo:
              accountPanExpiry: "921"
              accountPanSuffix: "0011"
              tokenPanSuffix: "0001"
              tokenExpiry: "921"
              tokenAssuranceLevel: 3
              accountPanPrefix: "500000"
              dsrpCapable: "true"
              productCategory: CREDIT
            status: SUSPENDED
          - statusTimestamp: statusTimestamp
            eventReasonCode: SUSPECTED_FRAUD
            suspendedBy:
            - CARDHOLDER
            - CARDHOLDER
            productConfig:
              longDescription: Bank Rewards MasterCard with the super duper rewards
                program
              issuerProductConfigCode: "123456"
              termsAndConditionsUrl: https://bank.com/termsAndConditions
              issuerMobileApp: '{}'
              issuerName: Issuing Bank
              cardBackgroundCombinedAssetId: 739d27e5-629d-11e3-949a-0800200c9a66
              iconAssetId: 739d87e5-629d-11e3-949a-0800200c9a66
              foregroundColor: "0"
              issuerLogoAssetId: dbc55444-986a-4896-b41c-5d5e2dd431e2
              shortDescription: Bank Rewards MasterCard
              coBrandName: Co brand partner
              onlineBankingLoginUrl: bank.com
              privacyPolicyUrl: https://bank.com/privacy
              customerServiceEmail: customerservice@bank.com
              customerServicePhoneNumber: "1234567891"
              isCoBranded: true
              brandLogoAssetId: 800200c9-629d-11e3-949a-0739d27e5a66
              customerServiceUrl: https://bank.com/customerservice
              coBrandLogoAssetId: dbc55444-496a-4896-b41c-5d5e2dd431e2
              cardBackgroundAssetId: 456d27e5-629d-11e3-949a-0800200c9a66
            tokenRequestorId: "98765432101"
            tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
            tokenInfo:
              accountPanExpiry: "921"
              accountPanSuffix: "0011"
              tokenPanSuffix: "0001"
              tokenExpiry: "921"
              tokenAssuranceLevel: 3
              accountPanPrefix: "500000"
              dsrpCapable: "true"
              productCategory: CREDIT
            status: SUSPENDED
        oaepHashingAlgorithm: SHA512
        iv: NA
      properties:
        publicKeyFingerprint:
          description: |
            The fingerprint of the public key used to encrypt the ephemeral AES key.
          example: 4c4ead5927f0df8117f178eea9308daa58e27c2b
          maxLength: 64
          type: string
        encryptedKey:
          description: |
            One-time use AES key encrypted by the MasterCard public key (as identified by publicKeyFingerprint) using the OAEP or PKCS#1 v1.5 scheme (depending on the value of oaepHashingAlgorithm.
          example: A1B2C3D4E5F6112233445566
          maxLength: 512
          type: string
        oaepHashingAlgorithm:
          description: |
            Hashing algorithm used with the OAEP scheme. Must be either SHA256 or SHA512.
          example: SHA512
          type: string
        iv:
          description: |
            The initialization vector used when encrypting data using the one-time use AES key. Must be exactly 16 bytes (32 character hex string) to match the block size. If not present, an IV of zero is assumed. Length - 32.
          example: NA
          type: string
        encryptedData:
          $ref: '#/components/schemas/notifyTokenEncryptedPayload'
      required:
      - encryptedData
      - encryptedKey
      - publicKeyFingerprint
    notifyTokenEncryptedPayload:
      example:
        tokens:
        - statusTimestamp: statusTimestamp
          eventReasonCode: SUSPECTED_FRAUD
          suspendedBy:
          - CARDHOLDER
          - CARDHOLDER
          productConfig:
            longDescription: Bank Rewards MasterCard with the super duper rewards
              program
            issuerProductConfigCode: "123456"
            termsAndConditionsUrl: https://bank.com/termsAndConditions
            issuerMobileApp: '{}'
            issuerName: Issuing Bank
            cardBackgroundCombinedAssetId: 739d27e5-629d-11e3-949a-0800200c9a66
            iconAssetId: 739d87e5-629d-11e3-949a-0800200c9a66
            foregroundColor: "0"
            issuerLogoAssetId: dbc55444-986a-4896-b41c-5d5e2dd431e2
            shortDescription: Bank Rewards MasterCard
            coBrandName: Co brand partner
            onlineBankingLoginUrl: bank.com
            privacyPolicyUrl: https://bank.com/privacy
            customerServiceEmail: customerservice@bank.com
            customerServicePhoneNumber: "1234567891"
            isCoBranded: true
            brandLogoAssetId: 800200c9-629d-11e3-949a-0739d27e5a66
            customerServiceUrl: https://bank.com/customerservice
            coBrandLogoAssetId: dbc55444-496a-4896-b41c-5d5e2dd431e2
            cardBackgroundAssetId: 456d27e5-629d-11e3-949a-0800200c9a66
          tokenRequestorId: "98765432101"
          tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          tokenInfo:
            accountPanExpiry: "921"
            accountPanSuffix: "0011"
            tokenPanSuffix: "0001"
            tokenExpiry: "921"
            tokenAssuranceLevel: 3
            accountPanPrefix: "500000"
            dsrpCapable: "true"
            productCategory: CREDIT
          status: SUSPENDED
        - statusTimestamp: statusTimestamp
          eventReasonCode: SUSPECTED_FRAUD
          suspendedBy:
          - CARDHOLDER
          - CARDHOLDER
          productConfig:
            longDescription: Bank Rewards MasterCard with the super duper rewards
              program
            issuerProductConfigCode: "123456"
            termsAndConditionsUrl: https://bank.com/termsAndConditions
            issuerMobileApp: '{}'
            issuerName: Issuing Bank
            cardBackgroundCombinedAssetId: 739d27e5-629d-11e3-949a-0800200c9a66
            iconAssetId: 739d87e5-629d-11e3-949a-0800200c9a66
            foregroundColor: "0"
            issuerLogoAssetId: dbc55444-986a-4896-b41c-5d5e2dd431e2
            shortDescription: Bank Rewards MasterCard
            coBrandName: Co brand partner
            onlineBankingLoginUrl: bank.com
            privacyPolicyUrl: https://bank.com/privacy
            customerServiceEmail: customerservice@bank.com
            customerServicePhoneNumber: "1234567891"
            isCoBranded: true
            brandLogoAssetId: 800200c9-629d-11e3-949a-0739d27e5a66
            customerServiceUrl: https://bank.com/customerservice
            coBrandLogoAssetId: dbc55444-496a-4896-b41c-5d5e2dd431e2
            cardBackgroundAssetId: 456d27e5-629d-11e3-949a-0800200c9a66
          tokenRequestorId: "98765432101"
          tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          tokenInfo:
            accountPanExpiry: "921"
            accountPanSuffix: "0011"
            tokenPanSuffix: "0001"
            tokenExpiry: "921"
            tokenAssuranceLevel: 3
            accountPanPrefix: "500000"
            dsrpCapable: "true"
            productCategory: CREDIT
          status: SUSPENDED
      properties:
        tokens:
          items:
            $ref: '#/components/schemas/token_for_NTU'
          type: array
    NotifyTokenUpdatedResponseSchema:
      example:
        responseHost: site1.mastercard.com
        responseId: "123456"
      properties:
        responseHost:
          description: |
            The host that originated the request. Future calls in the same conversation may be routed to this host.
          example: site1.mastercard.com
          type: string
        responseId:
          description: |
            Unique identifier for the response.
          example: "123456"
          type: string
    TransactRequestSchema:
      example:
        unpredictableNumber: "23424563"
        requestId: "123456"
        responseHost: site2.payment-app-provider.com
        dsrpType: UCAF
        tokenUniqueReference: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
      properties:
        responseHost:
          description: |
            The host that originated the request. Future calls in the same conversation may be routed to this host.
          example: site2.payment-app-provider.com
          type: string
        requestId:
          description: |
            Unique identifier for the request.
          example: "123456"
          type: string
        tokenUniqueReference:
          description: |
            Globally unique identifier for the Token, as assigned by MDES.
          example: DWSPMC000000000132d72d4fcb2f4136a0532d3093ff1a45
          maxLength: 64
          type: string
        dsrpType:
          description: |
            What type of DSRP cryptogram to create. Must be either UCAF or M_CHIP.
          example: UCAF
          maxLength: 64
          type: string
        unpredictableNumber:
          description: |
            HEX Encoded data (case sensitive) provided by the merchant to provide variability and uniqueness to the generation of a cryptogram.
          example: "23424563"
          maxLength: 8
          minLength: 8
          type: string
      required:
      - dsrpType
      - requestId
      - tokenUniqueReference
    TransactResponseSchema:
      example:
        encryptedPayload:
          publicKeyFingerprint: 4c4ead5927f0df8117f178eea9308daa58e27c2b
          encryptedKey: A1B2C3D4E5F6112233445566
          encryptedData:
            panSequenceNumber: "01"
            de48se43Data: "11223344556677889900112233445566778899"
            track2Equivalent: 5480981500100002D18112011000000000000F
            accountNumber: "5480981500100002"
            applicationExpiryDate: "210931"
          oaepHashingAlgorithm: SHA512
          iv: NA
        responseHost: site2.payment-app-provider.com
        responseId: responseId
      properties:
        responseId:
          description: |
            Unique identifier for the response.
          type: string
        responseHost:
          description: |
            The host that originated the request. Future calls in the same conversation may be routed to this host.
          example: site2.payment-app-provider.com
          type: string
        encryptedPayload:
          $ref: '#/components/schemas/encryptedPayloadTransact'
    encryptedPayloadTransact:
      example:
        publicKeyFingerprint: 4c4ead5927f0df8117f178eea9308daa58e27c2b
        encryptedKey: A1B2C3D4E5F6112233445566
        encryptedData:
          panSequenceNumber: "01"
          de48se43Data: "11223344556677889900112233445566778899"
          track2Equivalent: 5480981500100002D18112011000000000000F
          accountNumber: "5480981500100002"
          applicationExpiryDate: "210931"
        oaepHashingAlgorithm: SHA512
        iv: NA
      properties:
        publicKeyFingerprint:
          description: |
            The fingerprint of the public key used to encrypt the ephemeral AES key.
          example: 4c4ead5927f0df8117f178eea9308daa58e27c2b
          maxLength: 64
          type: string
        encryptedKey:
          description: |
            One-time use AES key encrypted by the MasterCard public key (as identified by publicKeyFingerprint) using the OAEP or PKCS#1 v1.5 scheme (depending on the value of oaepHashingAlgorithm.
          example: A1B2C3D4E5F6112233445566
          maxLength: 512
          type: string
        oaepHashingAlgorithm:
          description: |
            Hashing algorithm used with the OAEP scheme. Must be either SHA256 or SHA512.
          example: SHA512
          type: string
        iv:
          description: |
            The initialization vector used when encrypting data using the one-time use AES key. Must be exactly 16 bytes (32 character hex string) to match the block size. If not present, an IV of zero is assumed.
          example: NA
          maxLength: 32
          minLength: 32
          type: string
        encryptedData:
          $ref: '#/components/schemas/transactEncryptedData'
    transactEncryptedData:
      example:
        panSequenceNumber: "01"
        de48se43Data: "11223344556677889900112233445566778899"
        track2Equivalent: 5480981500100002D18112011000000000000F
        accountNumber: "5480981500100002"
        applicationExpiryDate: "210931"
      properties:
        accountNumber:
          description: |
            The Primary Account Number for the transaction ? this is the Token PAN.
          example: "5480981500100002"
          maxLength: 19
          minLength: 9
          type: string
        applicationExpiryDate:
          description: |
            Application expiry date for the Token. Expressed in YYMMDD format.
          example: "210931"
          maxLength: 6
          minLength: 6
          type: string
        panSequenceNumber:
          description: |
            Application PAN sequence number for the Token
          example: "01"
          maxLength: 2
          minLength: 2
          type: string
        track2Equivalent:
          description: |
            Track 2 equivalent data for the Token. Expressed according to ISO/IEC 7813, excluding start sentinel, end sentinel, and Longitudinal Redundancy Check (LRC), using hex nibble 'D' as field separator, and padded to whole bytes using one hex nibble 'F' as needed.
          example: 5480981500100002D18112011000000000000F
          maxLength: 38
          type: string
        de48se43Data:
          description: |
            Data for DE 48 Subelement 43 containing the cryptogram.
            DSRP cryptogram must be sent in DE104. Please refer to AN 3363 for details.
          example: "11223344556677889900112233445566778899"
          maxLength: 32
          type: string
    GatewayErrorsResponse:
      properties:
        Errors:
          $ref: '#/components/schemas/GatewayErrorsSchema'
    GatewayErrorsSchema:
      properties:
        Error:
          items:
            $ref: '#/components/schemas/GatewayError'
          type: array
    GatewayError:
      description: Only returned in the event of an error condition.
      properties:
        Source:
          description: |
            An element used to indicate the source of the issue causing this error. e.g. Gateway
          example: GATEWAY
          maxLength: 32
          type: string
        Description:
          description: |
            Description of the reason the operation failed. See API Response Errors
          example: OAuth signatures did not match.
          maxLength: 256
          type: string
        ReasonCode:
          description: |
            A reason code for the error that has occurred.
          example: AUTHENTICATION_FAILED
          maxLength: 100
          type: string
        Recoverable:
          description: |
            Generated by the gateway to indicate if the request could presented again for processing. Either "TRUE" or "FALSE"
          example: false
          type: boolean
        Details:
          description: |
            Always NULL, present for backwards compatiility
          example: false
          type: boolean
    ErrorsResponse:
      properties:
        errorCode:
          description: |
            **CONDITIONAL** Returned in the event of an error and contains the reason the operation failed. Only use if errors object is not present.
          maxLength: 32
          type: string
        errorDescription:
          description: |
            **CONDITIONAL** Returned in the event of an error and contains a description of why the operation failed. Only use if errors object is not present.
          maxLength: 32
          type: string
        responseHost:
          description: |
            The MasterCard host that originated the request. Future calls in the same conversation may be routed to this host.
          example: site2.payment-app-provider.com
          type: string
        responseId:
          description: |
            Unique identifier for the response.
          example: "123456"
          type: string
        Errors:
          $ref: '#/components/schemas/Error'
    Error:
      description: Only returned in the event of an error condition.
      properties:
        source:
          description: |
            An element used to indicate the source of the issue causing this error. Must be one of
             * 'MDES'
             * 'INPUT'
          maxLength: 32
          type: string
        errorCode:
          description: |
            An error code generated by the gateway if the error occurs before reaching the MDES application. maxLength: 100
          type: string
        description:
          description: |
            Description of the reason the operation failed. See API Response Errors
          maxLength: 256
          type: string
        reasonCode:
          description: |
            A reason code for the error that has occurred.
          maxLength: 100
          type: string
        recoverable:
          description: |
            Generated by the gateway to indicate if the request could presented again for processing. Either "TRUE" or "FALSE"
          example: true
          type: boolean
    TransactError:
      description: Only returned in the event of an error condition for the Transact
        API
      properties:
        source:
          description: |
            An element used to indicate the source of the issue causing this error. Must be one of
             * 'MDES'
             * 'INPUT'
          maxLength: 32
          type: string
        errorCode:
          description: |
            A reason code or information pertaining to the error that has occurred. This will contain the error reported by the platform (e.g. authentication errors) or service (e.g. invalid TUR)
          maxLength: 100
          type: string
        description:
          description: |
            Description of the reason why the operation failed.
          maxLength: 256
          type: string
        reasonCode:
          description: |
            A reason code or information pertaining to the error that has occurred from the service (e.g. invalid TUR). See API Response Errors
          maxLength: 100
          type: string
        errorDescription:
          description: |
            **DEPRECATED**
            Use description instead.
          maxLength: 100
          type: string
    fundingAccountInfo:
      example:
        encryptedPayload:
          publicKeyFingerprint: 4c4ead5927f0df8117f178eea9308daa58e27c2b
          encryptedKey: A1B2C3D4E5F6112233445566
          encryptedData:
            cardAccountData:
              expiryMonth: "09"
              securityCode: "123"
              expiryYear: "21"
              accountNumber: "5123456789012345"
            accountHolderData:
              accountHolderAddress:
                country: USA
                city: St. Louis
                postalCode: "61000"
                line2: Apt. 4B
                line1: 100 1st Street
                countrySubdivision: MO
              consumerIdentifier: consumerIdentifier
              accountHolderMobilePhoneNumber:
                phoneNumber: 0.8008281904610115
                countryDialInCode: 44
              accountHolderEmailAddress: accountHolderEmailAddress
              accountHolderName: accountHolderName
            source: ACCOUNT_ON_FILE
          oaepHashingAlgorithm: SHA512
          iv: NA
        panUniqueReference: panUniqueReference
        tokenUniqueReference: tokenUniqueReference
      properties:
        panUniqueReference:
          description: |
            **(CONDITIONAL)**
            For repeat digitizations, the unique reference allocated to the Primary Account Number. When supplied, the tokenUniqueReferenceForPanInfo, accountNumber, expiryMonth and expiryYear must be omitted from CardInfoData. Only allowed if Only allowed if tokenUniqueReference and pushAccountReceipt are not present and encrypted data does not contain the account information.
          maxLength: 64
          type: string
        tokenUniqueReference:
          description: |
            **(CONDITIONAL)**
            A unique reference assigned following the allocation of a token used to identify the token for the duration of its lifetime.  For repeat digitizations, the unique reference allocated to the token will be used to retrieve the financial account information. When supplied, the account information is omitted from FundingAccountData. Only allowed if panUniqueReference and pushAccountReceipt are not present and encrypted data does not contain the account information.
          maxLength: 64
          type: string
        encryptedPayload:
          $ref: '#/components/schemas/fundingAccountInfo-EncryptedPayload'
    fundingAccountInfo-EncryptedPayload:
      example:
        publicKeyFingerprint: 4c4ead5927f0df8117f178eea9308daa58e27c2b
        encryptedKey: A1B2C3D4E5F6112233445566
        encryptedData:
          cardAccountData:
            expiryMonth: "09"
            securityCode: "123"
            expiryYear: "21"
            accountNumber: "5123456789012345"
          accountHolderData:
            accountHolderAddress:
              country: USA
              city: St. Louis
              postalCode: "61000"
              line2: Apt. 4B
              line1: 100 1st Street
              countrySubdivision: MO
            consumerIdentifier: consumerIdentifier
            accountHolderMobilePhoneNumber:
              phoneNumber: 0.8008281904610115
              countryDialInCode: 44
            accountHolderEmailAddress: accountHolderEmailAddress
            accountHolderName: accountHolderName
          source: ACCOUNT_ON_FILE
        oaepHashingAlgorithm: SHA512
        iv: NA
      properties:
        publicKeyFingerprint:
          description: |
            The fingerprint of the public key used to encrypt the ephemeral AES key.
          example: 4c4ead5927f0df8117f178eea9308daa58e27c2b
          maxLength: 64
          type: string
        encryptedKey:
          description: |
            One-time use AES key encrypted by the MasterCard public key (as identified by publicKeyFingerprint) using the OAEP or PKCS#1 v1.5 scheme (depending on the value of oaepHashingAlgorithm.
          example: A1B2C3D4E5F6112233445566
          maxLength: 512
          type: string
        oaepHashingAlgorithm:
          description: |
            Hashing algorithm used with the OAEP scheme. Must be either SHA256 or SHA512.
          example: SHA512
          type: string
        iv:
          description: |
            The initialization vector used when encrypting data using the one-time use AES key. Must be exactly 16 bytes (32 character hex string) to match the block size. If not present, an IV of zero is assumed.
          example: NA
          maxLength: 32
          minLength: 32
          type: string
        encryptedData:
          $ref: '#/components/schemas/FundingAccountData'
    FundingAccountData:
      example:
        cardAccountData:
          expiryMonth: "09"
          securityCode: "123"
          expiryYear: "21"
          accountNumber: "5123456789012345"
        accountHolderData:
          accountHolderAddress:
            country: USA
            city: St. Louis
            postalCode: "61000"
            line2: Apt. 4B
            line1: 100 1st Street
            countrySubdivision: MO
          consumerIdentifier: consumerIdentifier
          accountHolderMobilePhoneNumber:
            phoneNumber: 0.8008281904610115
            countryDialInCode: 44
          accountHolderEmailAddress: accountHolderEmailAddress
          accountHolderName: accountHolderName
        source: ACCOUNT_ON_FILE
      properties:
        cardAccountData:
          $ref: '#/components/schemas/CardAccountData_inbound'
        accountHolderData:
          $ref: '#/components/schemas/accountHolderData'
        source:
          description: |
            (**Required as minimum for Tokenization**)
            The source of the account. Must be one of
              * ACCOUNT_ON_FILE
              * ACCOUNT_ADDED_MANUALLY
              * ACCOUNT_ADDED_VIA_APPLICATION
          example: ACCOUNT_ON_FILE
          maxLength: 32
          type: string
    accountHolderData:
      example:
        accountHolderAddress:
          country: USA
          city: St. Louis
          postalCode: "61000"
          line2: Apt. 4B
          line1: 100 1st Street
          countrySubdivision: MO
        consumerIdentifier: consumerIdentifier
        accountHolderMobilePhoneNumber:
          phoneNumber: 0.8008281904610115
          countryDialInCode: 44
        accountHolderEmailAddress: accountHolderEmailAddress
        accountHolderName: accountHolderName
      properties:
        accountHolderName:
          description: |
            **(OPTIONAL)** The name of the cardholder in the format LASTNAME/FIRSTNAME or FIRSTNAME LASTNAME
          maxLength: 27
          type: string
        accountHolderAddress:
          $ref: '#/components/schemas/billingAddress'
        consumerIdentifier:
          description: |
            **(OPTIONAL)**
            Customer Identifier that may be required in some regions.
          maxLength: 88
          type: string
        accountHolderEmailAddress:
          description: |
            **(OPTIONAL)**
            The e-mail address of the Account Holder
          maxLength: 320
          type: string
        accountHolderMobilePhoneNumber:
          $ref: '#/components/schemas/PhoneNumber'
    accountHolderData_outbound:
      description: |
        **(CONDITIONAL)**
        Present in tokenize response if supported by the Merchant, if using a pushAccountReceipt and if there is account holder data associated with the pushAccountReceipt in case that the issuer decision is APPROVED. Refer to MDES Token Connect Token Requestor Implementation Guide and Specification  for more details.
      example:
        accountHolderAddress:
          country: USA
          city: St. Louis
          postalCode: "61000"
          line2: Apt. 4B
          line1: 100 1st Street
          countrySubdivision: MO
        accountHolderMobilePhoneNumber:
          phoneNumber: 0.8008281904610115
          countryDialInCode: 44
        accountHolderEmailAddress: accountHolderEmailAddress
        accountHolderName: accountHolderName
      properties:
        accountHolderName:
          description: |
            **(OPTIONAL)**
            The name of the cardholder
          maxLength: 27
          type: string
        accountHolderAddress:
          $ref: '#/components/schemas/billingAddress'
        accountHolderEmailAddress:
          description: |
            **(OPTIONAL)**
            The e-mail address of the Account Holder
          maxLength: 320
          type: string
        accountHolderMobilePhoneNumber:
          $ref: '#/components/schemas/PhoneNumber'
    PhoneNumber:
      example:
        phoneNumber: 0.8008281904610115
        countryDialInCode: 44
      properties:
        countryDialInCode:
          description: |
            **(OPTIONAL)** The country code for the phone number. E.g. 1 for US or 44 for UK.
          example: 44
          maxLength: 4
          type: number
        phoneNumber:
          description: |
            **(OPTIONAL)**
            The phone number of the account holder
          maxLength: 20
          type: number
    CardAccountData_inbound:
      description: |
        **(CONDITIONAL)** Required in Tokenize or Search Tokens unless a valid panUniqueReference, tokenUniqueReference or pushAccountReceipt is also given in FundingAccountInfo.
      example:
        expiryMonth: "09"
        securityCode: "123"
        expiryYear: "21"
        accountNumber: "5123456789012345"
      properties:
        accountNumber:
          description: |
            The account number of the credit or debit card. **(CONDITIONAL)** required in a Tokenize, or Get Digital Asset request, unless a valid panUniqueReference or tokenUniqueReference or pushAccountReceipt was given in FundingAccountInfo. **NOTE**:Only 6 digits can be supplied in SearchTokens if the TokenUniqueReference is provided in fundingAccountInfo.
          example: "5123456789012345"
          maxLength: 19
          minLength: 9
          type: string
        expiryMonth:
          description: |
            The expiry month for the account. Two numeric digits must be supplied. Only supplied in tokenization requests if panUniqueReference or tokenUniqueReferenceForPanInfo or pushAccountReceipt is not present. **Format: MM**
          example: "09"
          maxLength: 2
          minLength: 2
          type: string
        expiryYear:
          description: |
            **(Required as minimum for Tokenization)** The expiry year for the account. Only supplied in tokenization requests if panUniqueReference or tokenUniqueReferenceForPanInfo or pushAccountReceipt is not present.
            **Format: YY**
          example: "21"
          maxLength: 2
          minLength: 2
          type: string
        securityCode:
          description: |
            **(OPTIONAL)** The security code for the account can optionally be provided for Tokenization. If provided, the validity will be checked.
            Optional in a Tokenize request, not present otherwise.
          example: "123"
          maxLength: 3
          type: string
    CardAccountData_outbound:
      description: |
        **(CONDITIONAL)**
        The credit or debit card information for the account that is being tokenized.  Present in tokenize response if supported by the Token Requestor, if using a pushAccountReceipt and if there is a card account associated with the pushAccountReceipt in case that the issuer decision is not DECLINED.
      example:
        expiryMonth: "09"
        expiryYear: "21"
        accountNumber: "5123456789012345"
      properties:
        accountNumber:
          description: |
            The account number of the credit or debit card.
          example: "5123456789012345"
          maxLength: 19
          minLength: 9
          type: string
        expiryMonth:
          description: |2

            The expiry month for the account. Two numeric digits must be supplied.
            **Format: MM**
          example: "09"
          maxLength: 2
          minLength: 2
          type: string
        expiryYear:
          description: |
            **(Required as minimum for Tokenization)**
            The expiry year for the account.
            **Format: YY**
          example: "21"
          maxLength: 2
          minLength: 2
          type: string
    billingAddress:
      example:
        country: USA
        city: St. Louis
        postalCode: "61000"
        line2: Apt. 4B
        line1: 100 1st Street
        countrySubdivision: MO
      properties:
        line1:
          description: |
            **(OPTIONAL)**
            The first line of the street address for the billing address.
          example: 100 1st Street
          maxLength: 64
          type: string
        line2:
          description: |
            **(OPTIONAL)**
            The second line of the street address for the billing address.
          example: Apt. 4B
          maxLength: 64
          type: string
        city:
          description: |
            **(OPTIONAL)**
            The city of the billing address.
          example: St. Louis
          maxLength: 32
          type: string
        countrySubdivision:
          description: |
            **(OPTIONAL)**
            The state or country subdivision of the billing address.
          example: MO
          maxLength: 12
          type: string
        postalCode:
          description: |
            **(OPTIONAL)**
            The postal of code of the billing address.
          example: "61000"
          maxLength: 16
          type: string
        country:
          description: |
            **(OPTIONAL)**
            The country of the billing address.
          example: USA
          maxLength: 3
          type: string
    DecisioningData:
      example:
        deviceCurrentLocation: 38.63,-90.25
        deviceScore: "1"
        recommendationAlgorithmVersion: "01"
        mobileNumberSuffix: "3456"
        accountIdHash: accountIdHash
        accountScore: "1"
        recommendation: APPROVED
        deviceIpAddress: 127.0.0.1
        recommendationReasons:
        - LONG_ACCOUNT_TENURE
        - LONG_ACCOUNT_TENURE
      properties:
        recommendation:
          description: |
            **(OPTIONAL)**
            Digitization decision recommended by the Token Requestor. Must be either APPROVED (Recommend a decision of Approved), DECLINED (Recommend a decision of Decline).
          example: APPROVED
          maxLength: 64
          type: string
        recommendationAlgorithmVersion:
          description: |
            **(OPTIONAL)**
            Version of the algorithm used by the Token Requestor to determine its recommendation. Must be a value of "01". Other values may be supported in the future.
          example: "01"
          maxLength: 16
          type: string
        deviceScore:
          description: |
            **(OPTIONAL)**
            Score assigned by the Token Requestor for the target device being provisioned. Must be a value from 1 to 5.
          example: "1"
          type: string
        accountScore:
          description: |
            **(OPTIONAL)**
            Score assigned by the Token Requestor for the consumer account or relationship. Must be a value from 1 to 5.
          example: "1"
          type: string
        recommendationReasons:
          description: |
            **(OPTIONAL)**
            Code indicating the reasons the Token Requestor is suggesting the digitization decision.  See table here - https://developer.mastercard.com/mdes-digital-enablement/documentation/code-and-formats/#recommendation-reason-codes
          items:
            example: LONG_ACCOUNT_TENURE
            type: string
          type: array
        deviceCurrentLocation:
          description: |
            **(OPTIONAL)**
            Latitude and longitude in the format "(sign) latitude, (sign) longitude" with a precision of 2 decimal places.  Ex - "38.63, -90.25"  Latitude is between -90 and 90.  Longitude between -180 and 180. Relates to the target device being provisioned. If there is no target device, then this should be the current consumer location, if available.
          example: 38.63,-90.25
          maxLength: 14
          type: string
        deviceIpAddress:
          description: |
            **(OPTIONAL)**
            The IP address of the device through which the device reaches the internet. This may be a temporary or permanent IP address assigned to a home router, or the IP address of a gateway through which the device connects to a network. IPv4 address format of 4 octets separated by "." Ex - 127.0.0.1 Relates to the target device being provisioned. If there is no target device, then this should be the current consumer IP address, if available.
          example: 127.0.0.1
          maxLength: 15
          type: string
        mobileNumberSuffix:
          description: |
            **(OPTIONAL)** The last few digits (typically four) of the consumer's mobile phone number as available on file or on the consumer's current device, which may or may not be the mobile number of the target device being provisioned.
          example: "3456"
          maxLength: 32
          type: string
        accountIdHash:
          description: |
            **(OPTIONAL)** SHA-256 hash of the Cardholder?s account ID with the Token Requestor. Typically expected to be an email address.
          format: Alpha-Numeric and Hex-encoded data (case-insensitive).
          maxLength: 64
          type: string
    productConfig:
      example:
        longDescription: Bank Rewards MasterCard with the super duper rewards program
        issuerProductConfigCode: "123456"
        termsAndConditionsUrl: https://bank.com/termsAndConditions
        issuerMobileApp: '{}'
        issuerName: Issuing Bank
        cardBackgroundCombinedAssetId: 739d27e5-629d-11e3-949a-0800200c9a66
        iconAssetId: 739d87e5-629d-11e3-949a-0800200c9a66
        foregroundColor: "0"
        issuerLogoAssetId: dbc55444-986a-4896-b41c-5d5e2dd431e2
        shortDescription: Bank Rewards MasterCard
        coBrandName: Co brand partner
        onlineBankingLoginUrl: bank.com
        privacyPolicyUrl: https://bank.com/privacy
        customerServiceEmail: customerservice@bank.com
        customerServicePhoneNumber: "1234567891"
        isCoBranded: true
        brandLogoAssetId: 800200c9-629d-11e3-949a-0739d27e5a66
        customerServiceUrl: https://bank.com/customerservice
        coBrandLogoAssetId: dbc55444-496a-4896-b41c-5d5e2dd431e2
        cardBackgroundAssetId: 456d27e5-629d-11e3-949a-0800200c9a66
      properties:
        brandLogoAssetId:
          description: |
            The MasterCard or Maestro brand logo associated with this card. Provided as an Asset ID ? use the Get Asset API to retrieve the actual asset. Always returned in Product Configuration object
          example: 800200c9-629d-11e3-949a-0739d27e5a66
          maxLength: 64
          type: string
        issuerLogoAssetId:
          description: |
            The logo of the issuing bank. Provided as an Asset ID ? use the Get Asset API to retrieve the actual asset. Always returned in Product Configuration object
          example: dbc55444-986a-4896-b41c-5d5e2dd431e2
          maxLength: 64
          type: string
        isCoBranded:
          description: |
            Whether the product is co-branded. Must be either true (this is a co-branded product) or false (this is not a co-branded product). Always returned in Product Configuration object
          example: true
          maxLength: 5
          type: boolean
        coBrandName:
          description: |
            Textual name of the co-brand partner. Required if CoBranded is true, not present otherwise. **Conditional: Conditionally required if isCoBranded = "true". Not present otherwise**
          example: Co brand partner
          maxLength: 128
          type: string
        coBrandLogoAssetId:
          description: |
            The co-brand logo (if any) for this product. Provided as an Asset ID ? use the Get Asset API to retrieve the actual asset.
          example: dbc55444-496a-4896-b41c-5d5e2dd431e2
          maxLength: 64
          type: string
        cardBackgroundCombinedAssetId:
          description: |
            The card image used to represent the digital card in the wallet. This ?combined? option contains the MasterCard, bank and any co- brand logos.  Provided as an Asset ID ? use the Get Asset API to retrieve the actual asset. **Conditional: either CardBackgroundCombined or CardBackground will be provided**
          example: 739d27e5-629d-11e3-949a-0800200c9a66
          maxLength: 64
          type: string
        cardBackgroundAssetId:
          description: |
            The card image used to represent the digital card in the wallet. This ?non-combined? option does not contain the MasterCard, bank, or co-brand logos. Provided as an Asset ID ? use the Get Asset API to retrieve the actual asset. **Conditional: either CardBackgroundCombined or CardBackground will be provided**
          example: 456d27e5-629d-11e3-949a-0800200c9a66
          maxLength: 64
          type: string
        iconAssetId:
          description: |
[...]
